* {
    font-family: 'Archivo Black', sans-serif;
    
}
h1{
    min-width: 400px;
    font-size: 50px;
}
body {
    
    text-align: center;
    background-color: rgb(173, 210, 211);
}
aside{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content:space-around;
    min-width: 400px;
    background-image: linear-gradient(to right, cadetblue , rgb(173,210,211));
    font-family: 'Archivo Black', sans-serif;
}
main {
    min-width: 400px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#map {
    
    height: 75vh;
    width: 50vw;
    background-color: #ccc;
    min-width: 400px;
    border: 5px solid black;
}